<h2>Products</h2>
<div *ngFor="let product of products">
  <h3>
    <a href="" [tittle]="product.name + ' details'"
    [routerLink]="['/products', product.id]">{{product.name}}</a>
  </h3>
  <p *ngIf="product.description">
    {{product.description}}
  </p>
  <button (click)="share()">
    Share
  </button>

  <!-- <app-product-alerts [product]="product" (notify)=onNotify()></app-product-alerts> -->
  <app-product-test [message]="product.name" (newMessageEvent)="changeNameList($event)"> </app-product-test>
  <p>under alert</p>
</div>